<html>
  <body>
    <h2>Welcome! Choose a link:</h2>
    <a href="/add_player"><h3>add player</h3></a>
    <a href="/totals"><h3>player totals</h3></a>
    <a href="/results"><h3>results</h3></a>
  </body>
</html>